* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
input {
  margin: 8px 0;
  pad: 8px;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
  height: 35px;
}
.msg {
  font-size: 15px;
  border: 2px solid #fe7d0d;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
